.button {
  display: inline-block;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $primary-white-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $primary-white-color;
  }

  &--bordered {
    border-color: $accent-color;
  }
}
