.gallery__link {
  @extend%link;
  color: $primary-text-color;

  .card-content {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;

    &__title {
      margin-top: 0;
      margin-bottom: 4px;

      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;

      color: $title-text-color;
    }

    &__category {
      margin-top: 0;
      margin-bottom: 0;

      font-size: 16px;
      line-height: 1.87;
    }
  }
}
