.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-button__cross {
  display: none;
  fill: currentColor;

  .menu-button.is-open & {
    display: block;
  }
}

.menu-button__menu {
  fill: currentColor;

  .menu-button.is-open & {
    display: none;
  }
}
